.video-container{
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width:none;

}
.video-container::-webkit-scrollbar{
    display: none;
}

.videos{
    position: relative;
}

.fa{
    position: absolute;
    bottom:7%;
    left:8%;

}

.fa h4{
    margin: 0;
    color:white;
    margin-top:8%;
    margin-left:25%;
}

.icon-style{
    position: absolute;
    bottom:9rem;
    left: 17rem;

}

.like{
    cursor: pointer;
    color:red;
}

.unlike{
    cursor: pointer;
    color:white;
}
.unlike2{
    cursor: pointer;
    color:black;
}

.chat-style{
    position: absolute;
    bottom:7rem;
    left: 17rem;
}

.modal-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.video-modal{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-modal video{
    height:85vh;
}
.comment-modal{
    width: 50%;
    height: 100%;
}